* {
	padding: 0;
	margin: 0;
}

.main-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: rgb(255, 238, 2);
}

#container {
	background-color: rgba(15, 195, 255, 0.863);
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

#playBox {
	display: none;
	margin-top: 30px;
	width: 80%;
	align-items: center;
	justify-content: center;
	gap: 35px;
	border: 2px black solid;

}

.message-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border: 2px black solid;

}

button {
	width: 90px;
	height: 35px;
	margin: 10px 0;
	font-size: 18px;
	font-weight: bold;
}