* {
	padding: 0;
	margin: 0;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-size: 25px;
}

#playBox {
	display: none;
	margin-top: 30px;
	width: 80%;
	align-items: center;
	justify-content: center;
	gap: 35px;
	
}
.message-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

button {
	width: 90px;
	height: 35px;
	margin: 10px 0;
	font-size: 18px;
	font-weight: bold;
}